
@{
    ViewBag.Title = "Cambio de Password";
}

@section css{

        <style type="text/css">
            h2 {
                font-family: 'Quicksand', sans-serif;
                color:#808080;
                margin-bottom:15px;
            }
        </style>

    }

@Html.Hidden("urlGuardar",Url.Action("CambioPassword","Seguridad"))


<section class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Cambio de Password</h2>
            <form action="" method="post">
                @*<div class="form-group">
                    <input type="password" class="form-control" placeholder="Password Anterior" name="passAnterior" id="txt-passAnterior"/>
                </div>*@
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Nuevo Password" name="passNew" id="txt-passNew" />
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirmar password nuevo" name="passConfirmar"  id="txt-confirmarPass"/>
                </div>
                <div class="form-group">
                    <input type="button" id="btn-cambiar" class="btn form-control btn-warning" value="Cambiar" />
                </div>
            </form>
        </div>
    </div>
</section>

@section scripts
    {
        <script type="text/javascript">
            $(function () {

                $("#btn-cambiar").click(function () {
                    var url = $("#urlGuardar").val();
                    var newpass = $("#txt-passNew").val();
                    var confirmarPass = $("#txt-confirmarPass").val();

                    $.ajax({
                        url: url,
                        data: { passNew: newpass, passConfirmar: confirmarPass },
                        type:"POST"
                    }).done(function (res) {
                        if (res.Error != undefined)
                        {
                            Mensaje(res.Error,icono_mensaje.error, 'Cambio de Password');
                        } else {
                            Mensaje(res.mensaje, icono_mensaje.ok, 'Cambio de Password');
                        }
                    }).fail(function (error) {

                        alert(error.error);
                    });
                });

                $("#btn-modal-aceptar").click(function () {

                    $(".modal-mensaje").css('opacity', '0');
                    $(".modal-mensaje").css('pointer-events', '');

                });

                $("#btn-modal-cancelar").click(function () {

                    $(".modal-mensaje").css('opacity', '0');
                    $(".modal-mensaje").css('pointer-events', '');

                });

            });
        </script>
    }

