
@{
    ViewBag.Title = "ConfirmarDireccion";
}

@section css{

        
        <link href="~/Content/Seguridad.css" rel="stylesheet" />

    }
<section class="container">
    <div class="row">
        <h2 class="text-center" style="color:#999">Por favor selecciona una direccion de envio</h2>
        <div class="col-sm-12">
            <!-- Listado de Direcciones del Comprador-->
            <div class="list-direccion-container row">
                <div class="col-sm-12">
                    <ul class="ul-encabezado-direccion">
                        <li class="ul-encabezado-direccion-titulo">
                            <h2>Direccion</h2>
                            <p>Cra 46 # 48C Sur - 51</p>
                        </li>

                    </ul>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="ul-detalle-direccion">
                            <li>
                                <h2>Nombre</h2>
                                <p>Paulo Cesar</p>
                            </li>
                            <li>
                                <h2>Telefono</h2>
                                <p>4442671</p>
                            </li>
                            <li>
                                <h2>Departamento</h2>
                                <p>Antioquia</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="ul-detalle-direccion">
                            <li>
                                <h2>Apellidos</h2>
                                <p>Quintero Jimenez</p>
                            </li>
                            <li>
                                <h2>Movil</h2>
                                <p>3004130210</p>
                            </li>
                            <li>
                                <h2>Ciudad</h2>
                                <p>Medellin</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="ul-detalle-direccion">
                            <li>
                                <h2>Identificacion</h2>
                                <p>71331806</p>
                            </li>
                            <li>
                                <h2>Pais</h2>
                                <p>Colombia</p>
                            </li>
                            <li>
                                <h2>Barrio</h2>
                                <p>Ditaires</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="btn-direccion-detalle row">
                    <div class="col-sm-12">
                        <button class="btn form-control btn-warning">Seleccionar Dirección</button>
                    </div>
                </div>

            </div>
            <div class="list-direccion-container row">
                <div class="col-sm-12">
                    <ul class="ul-encabezado-direccion">
                        <li class="ul-encabezado-direccion-titulo">
                            <h2>Direccion</h2>
                            <p>Cra 46 # 48C Sur - 51</p>
                        </li>

                    </ul>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="ul-detalle-direccion">
                            <li>
                                <h2>Nombre</h2>
                                <p>Paulo Cesar</p>
                            </li>
                            <li>
                                <h2>Telefono</h2>
                                <p>4442671</p>
                            </li>
                            <li>
                                <h2>Departamento</h2>
                                <p>Antioquia</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="ul-detalle-direccion">
                            <li>
                                <h2>Apellidos</h2>
                                <p>Quintero Jimenez</p>
                            </li>
                            <li>
                                <h2>Movil</h2>
                                <p>3004130210</p>
                            </li>
                            <li>
                                <h2>Ciudad</h2>
                                <p>Medellin</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="ul-detalle-direccion">
                            <li>
                                <h2>Identificacion</h2>
                                <p>71331806</p>
                            </li>
                            <li>
                                <h2>Pais</h2>
                                <p>Colombia</p>
                            </li>
                            <li>
                                <h2>Barrio</h2>
                                <p>Ditaires</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="btn-direccion-detalle row">
                    <div class="col-sm-12">
                        <button class="btn form-control btn-warning">Seleccionar Dirección</button>
                    </div>
                </div>

            </div>
            <!--Fin-->
        </div>
    </div>
    <div class="row">
        <div class="btn-confirmardireccion col-sm-12">
            <button class="btn form-control btn-warning" disabled>Continuar con la Compra</button>
            <button class="btn form-control btn-warning">Añadir nueva dirección</button>
        </div>
    </div>
</section>

